{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support",
    "jest",
    "react-native",
    "es2015",
    "babel-preset-stage-3"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
